%nav.navbar.navbar-expand-lg.d-flex.justify-content-evenly.p-2
  =link_to 'Desserts', root_path, class: 'nav-item nav-link site-link'
  =link_to 'About', root_path, class: 'nav-item nav-link site-link'
  %a.navbar-brand#sk-logo{href: "#"} The Savage Kitchen
  =link_to 'Account', root_path, class: 'nav-item nav-link site-link'
  =link_to 'Basket', root_path, class: 'nav-item nav-link site-link'
