#food-carousel.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner
    .carousel-item.active
      %img.img-fluid.w-100{alt: "First slide", src: "https://media-cdn2.greatbritishchefs.com/media/xcmphmts/img22335.jpg"}
    .carousel-item
      %img.img-fluid.w-100{alt: "Second slide", src: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Konditor_bei_der_Arbeit_BMK.jpg/1200px-Konditor_bei_der_Arbeit_BMK.jpg"}
    .carousel-item
      %img.img-fluid.w-100{alt: "Third slide", src: "https://d2k1udokfj5xv9.cloudfront.net/webimages/v2/en/programs/PECD%2B/product/mobile/pastry-and-chocolate-chef.jpg"}
