/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

html {
  background-color: #fffdf8;
}

nav {
  background-color: #113946;
  height: 10vh;
  border-bottom: #E5D283;
}

#sk-logo {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Petit Formal Script', cursive;
  color: white;
}

.site-link {
  color: white;
}

// *Colour Scheme*
// #FFF2D8 Cream
// #EAD7BB Light Beige
// #BCA37F Dark beige
// #113946 Blue
// #E5D283 Gold
